<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tipos de Salas Index</title>
</head>
<body>
    <h1>Listado de Tipos de Salas</h1>
    <div>
        <ul>
            {% for tipoSala in tiposSalas %}
                <li>{{tipoSala.id}}: Descripcion: {{tipoSala.descripcion}}. Sinopsis: {{tipoSala.num_butacas}}.</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>