{% extends 'base.html' %}
{% block header %}
    <h2>{% block title %}Zoológicos {% endblock %}</h2>
{% endblock %}

{% block content %}
    <div class="BotonBody">
        {% if g.user %}
        <a href="{{url_for('appempleado.agregarEmpleado')}}">Agregar</a>
        {% endif%}
    </div>
    <div class="contenedor">
        <table border="1" class="rwd-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Foto</th>
                    <th>Nombre</th>
                    <th>Direccion</th>
                   


                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for zoologico in zoologico %}
                <tr>
                    <td>{{zoologico.id}}</td>
                    <td><img src="data:image/png;base64,{{zoologico.rendered_data}}" alt="" width="50" height="50"></td>
                    <td>{{zoologico.nombre}}</td>
                    <td>{{zoologico.direccion}}</td>
                    <td><a href="{{url_for('zoo.verZoologico',id=zoologico.id)}}">Ver</a></td>
                    <td><a href="{{url_for('zoo.editarZoologico',id=zoologico.id)}}">Editar</a></td>
                    <td><a href="{{url_for('zoo.eliminarZoologico',id=zoologico.id)}}">Eliminar</a></td>

                   


                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
{% endblock %}