<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/rabbit_bunny.png')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/404.css' ) }}">
    <title>Pagina no existe</title>
</head>
<body>
    <section id="fourohfour">
        <div class='img'></div>
        <div class='text'>
            <h1>Esta pagina no existe. 😭</h1>
        </div>
    </section>
</body>
</html>