<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css' ) }}">
    <title>Ver Empleado</title>
</head>
<body>
    <h1>Ver Empleado</h1>
    <div><h2>ID Empleado: {{empleado.id}}</h2></div>
    <div><h2>Nombre: {{empleado.nombre}}</h2></div>
    <div><h2>Apellido: {{empleado.apellido}}</h2></div>
    <div><h2>Edad: {{empleado.edad}}</h2></div>
    <div><h2>Direccion: {{empleado.direccion}}</h2></div>
    <br>
    <br>
    <a href="{{url_for('inicio')}}">Regresar al inicio</a>

</body>
</html>