<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css' ) }}">
    <title>Ver Animal</title>
</head>

<body>
    <h1>Ver Animal</h1>
    <div>
        <h2>ID : {{animal.id}}</h2>
    </div>
    <div>
        <h2>Nombre: {{animal.nombre}}</h2>
    </div>
    <div>
        <h2>Edad: {{animal.edad}}</h2>
    </div>
    <div>
        <h2>Grupo al que pertenece: {{animal.grupo_pertenece}}</h2>
    </div>
    <div>
        <h2>Tipo de alimentacion: {{animal.tipo_alimentacion}}</h2>
    </div>
    <div>
        <h2>Habitat: {{animal.habitat}}</h2>
    </div>
    <br>
    <br>
    <a href="{{url_for('inicioAnimal')}}">Regresar al inicio</a>

</body>

</html>