<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css' ) }}">
    <title>Ver zoologico</title>
</head>

<body>
    <h1>Ver Zoologico</h1>
    <div>
        <h2>ID : {{zoologico.id}}</h2>
    </div>
    <div>
        <h2>Nombre: {{zoologico.nombre}}</h2>
    </div>
    <div>
        <h2>Direccion: {{zoologico.direccion}}</h2>
    </div>
    <div>
        <h2>Cantidad de animales: {{zoologico.cantidad_animales}}</h2>
    </div>
    <div>
        <h2>Cantidad de guias: {{zoologico.cantidad_guias}}</h2>
    </div>
    <div>
        <h2>Cantidad de cuidadores: {{zoologico.cantidad_cuidadores}}</h2>
    </div>
    <br>
    <br>
    <a href="{{url_for('inicioZoologico')}}">Regresar al inicio</a>

</body>

</html>