<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css' ) }}">

    <title>Document</title>
</head>

<body>
    <h1>Listado de Zoologicos</h1>
    <div class="btnAgregar">
        <a href="{{url_for('agregarZoologico')}}">Agregar</a>
    </div>
    <div class="contenedor">
        <table border="1" class="rwd-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Direccion</th>
                    <th>Cantidad de zoologicoes</th>
                    <th>Cantidad de guias</th>
                    <th>Cantidad de cuidadores</th>


                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for zoologico in zoologico %}
                <tr>
                    <td>{{zoologico.id}}</td>
                    <td>{{zoologico.nombre}}</td>
                    <td>{{zoologico.direccion}}</td>
                    <td>{{zoologico.cantidad_animales}}</td>
                    <td>{{zoologico.cantidad_guias}}</td>
                    <td>{{zoologico.cantidad_cuidadores}}</td>

                    <td><a href="verZoologico/{{zoologico.id}}">Ver</a></td>
                    <td><a href="editarZoologico/{{zoologico.id}}">Editar</a></td>
                    <td><a href="eliminarZoologico/{{zoologico.id}}">Eliminar</a></td>


                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{{url_for('verObjetos')}}">Regresar al inicio</a>
</body>

</html>